.card{
   height: fit-content; 
   width: 200px;
   background-color: rgb(255, 255, 255);
   padding: 15px;
   border-radius: 15px;
   
}
.card img{
    height: 150px;
    width: 100%;
}
.cart{
    display: flex;
    padding: 2px;
    justify-content: space-between;

}
.rating{
    color: rgb(148, 148, 148);
}
