*{
    margin: 0px;
    padding: 0px;
}
.NavBar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #F2F2F2;
    position: fixed;
    top: 0;
    overflow: hidden;
}
.nav_box{
    width: 90%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.Left_box{
    width: 60%;
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
    
}
.Left_box p{
    font-size: 30px;
    font-weight: 800;
}
.Menu{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    font-size: 30px;
}
.Link_Box{
width: 40%;
display: flex;
gap: 15px;
justify-content: end;
align-items: center;
margin-right: 35px;

}
.Link_Box ul{
    display: flex;
    
   gap: 25px;
}
.Link_Box ul li{
    list-style-type: none;
}
.Cart_box{
    display: flex;
    align-items: center;
    gap: 15px;
}
.side_bartrue{
    height: 100vh;
    width: 250px;
    background-color: #F2F2F2;
    position: fixed !important;
    z-index: 1;
    left: 0%;
    top: 0px;
    overflow: auto;
    transform:translateX(0px);
    transition: transform 0.3s ease-in-out; 
    
}
.side_barfalse{
    height: 100vh;
    width: 250px;
    background-color: #F2F2F2;
    position: fixed !important;
    z-index: 1;
    left: -100%;
    top: 0px;
    overflow: auto;
    transform: translateX(-600px);
    transition: transform 1s ease-in-out;
    
}
.side_Menu{
    width: 100%;
    height: 90px;
    display: flex;
    padding-left: 15px;
    gap: 25px;
    align-items: center;
    /* justify-content: space-evenly; */
    background-color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 800;
}
.links{
    font-size: 15px;
    font-weight: 500;
    color: rgb(121, 121, 121);
    text-decoration: none;
}
.links.active{
    color: rgb(14, 14, 14);
    font-size: 15px;
    font-weight: bold;
}
.Fav,.Cart{
    color: rgb(121, 121, 121);
    font-size: 20px;
    display:flex;
    align-items:center;
    text-decoration: none;
}
.Fav.active,.Cart.active{
    color: rgb(14, 14, 14);
}
.Menu{
    display:none;   
}

@media (max-width:500px){
      
    .Menu{
        display:block;   
    }
    .Link_Box{
        display:none;  
    }
    

}
@media (min-width:501px){
    .side_bartrue{
        display:none;
    }
}
/* .SideLink_Box{
    background-color:blue;
} */
.SideLink_Box ul{
    display:flex;
    flex-direction:column;
    gap:15px;
    padding:15px;
}